@import url('https://fonts.googleapis.com/css2?family=Mulish');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Mulish;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Primary colors */
  --color-1: #5ACCCC;
  --color-2: #FFFFFF;
  --color-3: #335C6E;
  --color-4: #FABD33;

  /* Secondary colors */
  --color-6: #CFFAFA;
  --color-7: #F76434;
  --color-8: #4AA088;
  --color-9: #FAAD00;
  --color-10: #53C2C2;
  --color-10: #FFE6DC;
  --color-10: #28B8B8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-1);
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn{
  background-color: var(--color-1);
}

.btn:hover{
  background-color: var(--color-5);
}

button:hover {
  border-color: var(--color-5);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-10);
  }
  button {
    background-color: var(--color-1);;
  }
}
